h1 { 
  color:tomato;
  font-weight: bold;
  font-size: 22 px;
  text-align: center;
}
.tieude{
  color:tomato;
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 20 px;
}
.noidung{
  color:black;
  text-style:normal;
  font-size: 24 px;
}

